@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.home {
    background-image: url(../img/bg.webp);
    background-attachment: fixed;
    background-position: 0px -171px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
}

.box-area {
    position: relative;
    width: 930px;
    margin-bottom: -50px !important;
}

.logo {
    height: 70px;
    margin-top: -170px;
}

.info {
    text-align: end;
    font-family: 'Poppins', sans-serif;
}





@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 20px !important;
        margin-top: 20px !important;
    }

    .logo {
        height: 40px;
        margin-top: -120px;
    }

    .info {
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .info-judul {
        font-size: 18px;
        font-weight: 600;
    }

    .info-app {
        font-size: 14px;
    }

    .left-box {
        align-items: center;
        border-bottom: 3px solid #3fb618;
        padding-top: 0 !important;
    }

    .sub-login {
        font-size: 14px;
    }

    .footer {
        display: none;
    }
}


@media (min-width:767.98px) {
    .left-box {
        border-right: 3px solid #cecece;
    }
}